{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Identity & Profile" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Identity & Profile") %}
{% endblock page_header %}


{% block main %}
<div class="quota-dynamic">
  <h3>{% trans "Limit Summary" %}</h3>
    <div class="d3_quota_bar">
        <div class="d3_pie_chart" data-used="{% widthratio 3 10 100 %}"></div>
          <strong>{% trans "Identity & Profiles" %} <br />
              {% blocktrans with used=3 available=3 %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
          </strong>
        </div>
      </div>
    </div>
</div>
  {{ table.render }}
{% endblock %}


